[user]
	name = Jonathan R. Wallace
	email = jonathan.wallace@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = always
[alias]
	ds = diff --staged --color-moved
	st = status
	ci = commit -v
	co = checkout
	br = branch
	ctags = !.git/hooks/ctags
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --color-moved
  pr = !sh -c 'git log $0..next-release --ancestry-path --merges --oneline | tail -1'
[merge]
	tool = p4merge
  conflictstyle=diff3
	summary = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[apply]
	whitespace = nowarn
[pack]
	threads = 0
[diff]
	renamelimit = 0
	compaction-heuristic = true
[github]
	user = wallace
	;token = <token_here>

[init]
	templatedir = ~/.git_template
[rerere]
	enabled = true
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "fugitive"]
  cmd = mvim -f -c "Gdiff" "$MERGED"
[mergetool "meld"]
  cmd = $HOME/bin/meldmerge $BASE $LOCAL $REMOTE $MERGED
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
[mergetool "gvim"]
	cmd = vim \"+Gdiff\" $MERGED
[push]
	default = simple
[pull]
  default = current
	rebase = preserve

[hub]
protocol = ssh
[rebase]
	autostash = true
	autosquash = true
[stash]
	showPatch = true
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
