*.swo
*.swp
*~
.DS_Store
.autotest
.byebug_history
.envrc
.projects
.rvmrc
Session.vim
bin/*
db/*.sqlite3
intersect_*
log/*.log
meta_docs
meta_docs/
mutt/.mutt/cache/headers/
mutt/.mutt/mailcap
production_structure.sql
rerun.txt
ruby-debug.rb
screenrc
tags
tmp/
vendor/plugins/acts_as_appointable/test/acts_as_appointable_plugin.sqlite3.db
