*~
.DS_Store
Session.vim
ruby-debug.rb
*.swp
*.swo
screenrc
production_structure.sql
rerun.txt
meta_docs
meta_docs/
intersect_*
log/*.log
tmp/
.autotest
db/*.sqlite3
bin/*
.rvmrc
vendor/plugins/acts_as_appointable/test/acts_as_appointable_plugin.sqlite3.db
tags
.projects
.ruby-version
