*.swo
*.swp
*~
.DS_Store
.autotest
.byebug_history
.envrc
.projects
.rvmrc
.node-version
Session.vim
db/*.sqlite3
log/*.log
meta-docs/
mutt/.mutt/cache/headers/
mutt/.mutt/mailcap
production_structure.sql
rerun.txt
ruby-debug.rb
screenrc
tags
tmp/
vendor/plugins/acts_as_appointable/test/acts_as_appointable_plugin.sqlite3.db
